body{
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

/* container */
.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    margin: 0;
    position: relative;
}

/* left */
.left{
    background: rgb(2, 20, 22);
    color: white;
    padding: 20px;
    width: 30%;
    height: 980px;
    border:10px black;
    display: inline-block;
    box-sizing: border-box;
    animation-name: displayleft;
    animation-duration: 10s;
}
p.left-sub-headings{
    color:rgb(255, 255, 255);
    letter-spacing: 4px;
    margin-top: 10%;
    font-family: 'Bree Serif', serif;
    font-size: 1.3em;
}

/* Wahab*/
.wahab{
    text-align: center;
    padding: 0;
    margin: 0;
}
.wahab .pic-img img{
    width: 200px;
    height : 200px;
    border-radius: 50%;
}
.wahab .pic-img{
    text-align: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
}
.wahab .name{
    font-size: 1.5em;
    font-weight: bolder;
    margin: 0;
    letter-spacing: 3px;
    font-family: 'Balsamiq Sans', cursive;
}
.wahab .job-title{
    font-size: 1.35em;
    margin: 5px 0 0 0;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-family:'Staatliches';
    color: whitesmoke;
}
.wahab hr{
    width: 90%;
    font-weight: lighter;
}

/* contacts */
.contact-box{
    height: 20px;
    display: flex;
    margin: 5px 0 5px 0;
}
.contact-bullets{
    color: rgb(9, 139, 139);
}
.contact{
    position: relative;
    padding: 0;
    margin:0 0 0 4px;
    font-size: 0.9em;
}

/* languages */
.english-bar, .yoruba-bar{
    position: relative;
    width: 80%;
    height: 10px;
    background: rgb(3, 51, 56);
}
.english-level{
    position: absolute;
    background: rgb(69, 157, 158);
    width: 90%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}
.yoruba-level{
    position: absolute;
    background: rgb(69, 157, 158);
    width: 92%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}


/* right */
.right{
    background: rgb(224, 239, 243);
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    width: 70%;
    height: 980px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-family: 'Urbanist', sans-serif;
    animation-name: displayright;
    animation-duration: 7s;
    /* display: flex;
    flex-direction: column; */
}
.right-sub-headings{
    color: rgb(1, 45, 51);
    font-weight: bolder;
    font-size: 1.3em;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;
    font-family: 'Rampart One', cursive;
}
.profile{
    width: 90%;
}

/* education */
.education-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 0;
}
.education{
    display: flex;
    flex-direction: column;
    margin: 4px 0 4px 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}
.date{
    color:rgb(5, 26, 26);
    font-weight: bolder;
}
.cert{
    font-weight: bolder;
    font-style: italic;
}
.institution{
    font-size: 1.1em;
}
.date, .cert, .institution{
    margin-top: 0;
    margin-bottom: 10px;
    height: max-content;
    box-sizing: border-box;
}
.education:last-child p:last-child{
    margin-bottom: 0;
}

/* professional skills */
.bar{
    position: relative;
    width: 80%;
    height: 10px;
    background: rgb(5, 26, 26);
    width: 90%;
}
.html-level, .css-level, .js-level, .python-level, .git-level, .adobe-level, .canva-level{
    position: absolute;
    background: darkturquoise;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}
.html-level{
    width: 92%;
}
.css-level{
    width: 88%;
}
.js-level{
    width: 60%;
}
.git-level{
    width: 50%;
}
.python-level{
    width: 80%;
}
.adobe-level{
    width: 83%;
}
.canva-level{
    width: 93%;
}
.skills p{
    font-weight: bold;
}

/* interest */
.interest-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 0;
}
.interest-bullet{
    background:rgb(5, 26, 26) ;
    width: 15px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: 15px;
    border-radius: 50%;
}
.interest{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 15px;
    position: relative;
}
.interests{
    padding: 0;
    margin: 0 0 0 3px ;
}
.inner-ib{
    width: 50%;
    height: 50%;
    background: darkturquoise;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    border-radius: 50%;
}


/* hobbies */
.hobbies-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 0;
    flex-wrap: wrap;
}
.hobby{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 15px;
    position: relative;
}
.hobbies{
    padding: 0;
    margin: 0 0 0 3px ;
}

/* sponsored */
.sponsored{
    background: rgb(99, 129, 136);
    height: 100px;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}
.sponsored-by{
    text-align: center;
    font-size: 1.3em;
    color: lightcyan;
    margin: 0;
    padding: 0;
}
.sponsored img{
    height: 70px;
    width: 140px;
    margin: 0;
    padding: 0;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

/* for screens smaller than 1208px width */
@media (max-width:1208px){
    body{
        text-align: center;
        width: 100vw;
    }
    *{
        flex-wrap: wrap;
        word-wrap: normal;
        text-align: center;
        box-sizing: border-box;
    }
    .profile{
        text-align: center;
    }
    .contact-box{
        justify-content: center;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        /* padding-right: 0;
        padding-left: 0; */
    }
    .left{
        box-sizing: border-box;
        width: 100vw;
        height: 100%;
        animation-name: mobileleft;
        animation-duration: 10s;
    }
    .right{
        box-sizing: border-box;
        width: 100vw;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* padding: 0; */
        animation-name: mobileright;
        animation-duration: 15s;
    }
    .sponsored{
        text-align: center;
        height: 100%;
        width: 100vw;
        animation-name: displayright;
        animation-duration: 5s;
    }
    .hobby, .interest{
        margin: 3px 0;
    }
    .languages-box{
        justify-content: center;
    }
    .yoruba-bar, .english-bar{
        justify-content: center;
        align-items: center;
        position: relative;
        width: 90w;
        right: 5vw;
        left: 5vw;
    }
    .interest-box, .hobbies-box{
        width: 100%;
    }
}

/* animations */
@keyframes displayleft{
    from{
        transform: translateY(-980px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes displayright{
    from{
        visibility: hidden;
        transform: translateX(-140%);
    }
    to{
        transform: translateX(0);
        visibility: visible;
    }
}
@keyframes mobileleft{
    from{
        visibility: hidden;
        transform: translateY(-100%);
    }
    to{
        visibility: visible;
        transform: translateY(0);
    }
}
@keyframes mobileright{
    from{
        visibility: hidden;
        transform: translateY(-100%);
    }
    to{
        visibility: visible;
        transform: translateY(0);
    }
}